#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:

override_dh_auto_build:
	cargo build --release --all-features

override_dh_auto_install:
	install -D -m 755 target/release/lowfi debian/lowfi/usr/bin/lowfi

override_dh_auto_test:

override_dh_auto_clean:
	cargo clean || true
